/* --- Scoreboard --- */
#scoreboard {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
}

.team {
  background: #001f4d;
  border: 2px solid #004080;
  border-radius: 10px;
  padding: 10px 20px;
  width: 150px;
  text-align: center;
}

.team h2 {
  color: #ffcc00;
  margin: 0;
}

.score {
  font-size: 2rem;
  color: white;
}

#modal-buttons button {
  background: #003366;
  color: white;
  border: 1px solid #ffcc00;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 8px;
  font-size: 16px;
}
